:root {
  --gap--card: 0.9375rem;
  --blue--main: #aee0f2;
  --pastel--blue: #d7ecf2;
  --pastel--orange: #ffeee2;
  --dark--blue: #084d61;
  --orange: #ffeee2;
}

* {
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
}

.sidebar_personalia {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}

.container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  align-items: baseline;
}

.contain {
  margin: 0 auto;
  width: 80%;
}

.card-container {
  display: flex;
  gap: 2rem;
  margin: 0 auto;
  width: 50%;
  flex-wrap: wrap;
}

.absences-container {
  display: flex;
  align-items: flex-start;
  align-items: baseline;
  margin: 0 auto;
  padding: 1rem;
}

.input-wrapper {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  flex-direction: column;
}

.dates {
  display: flex;
  gap: 3rem;
}

@media screen and (max-width: 600px) {
  .dates {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
  label {
    font-size: 1.1rem;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 24px;
}

.icon-card--container {
  display: flex;
  gap: 2rem;
}

.icon-card {
  width: 100%;
  background-color: var(--blue--main);
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.overview_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.icon-card--label {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
}

.icon-card--img img {
  width: 6rem;
  padding-bottom: 1rem;
}

.card-container__3items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  width: 100%;
  align-items: center;
  justify-items: center;
  max-width: 200px;
  margin: 0 auto;
  gap: 5rem;
  flex-direction: column;
}

.detail-card > * {
  /* background-color: var(--orange) !important; */
  display: flex;
  width: 100%;
  flex-direction: column;
}

.detail-card--label {
  background-color: var(--blue--main);
  border-radius: 10px 10px 0 0;
  padding: 1rem;
}

.detail-card--information {
  border-radius: 0 0 10px 10px;
  padding: 2rem;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.25);
}

.detail-card--title {
  padding: 1rem;
}

.detail-card--text {
  width: 70%;
  align-items: center;
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.detail-card--profile-picture {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.detail-card--profile-picture img {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
}

.detail-card--subjects > * {
  background-color: var(--blue--main);
  display: flex;
  width: 100%;
  gap: 2rem;
}
.detail-card--info-box {
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.25);
}

.subject-card--main {
  display: flex;
  padding: 1rem;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.25);
  justify-content: space-between;
  padding: 2rem;
  flex-wrap: wrap;
  flex-direction: row;
}

@media screen and (max-width: 800px) {
  .detail-card--subjects > * {
    background-color: var(--blue--main);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 2rem;
  }

  h1 {
    font-size: 1.4rem;
  }
}

.detail-card--left {
  color: #ffffff;
  text-align: center;
}

.detail-card--left img {
  width: 6rem;
}

.detail-card--right {
  color: #ffffff;
}

/* punten layout op vakken pagina */

.main-container.dossier {
  display: block;
  /* flex-grow: 1; */
  padding: 1rem;
  align-items: center;
  justify-content: center;
  display: flex;
}

.container-dossier {
  gap: var(--gap--card);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
}

.container-dossier .detail-card {
  flex-basis: 100%;
  flex-grow: 1;
}

.card--title {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.card--title--feedback {
  padding: 3rem;
}

@media screen and (max-width: 700px) {
  .card--title {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    justify-content: space-around;
    padding: 3rem;
  }
}

/* news card */

.news-card--information {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.news-card--information {
  padding: 1rem;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.25);
}

h3 {
  color: var(--dark--blue);
  font-size: 1.375rem;
  font-family: Lato;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  padding-bottom: 1rem;
}

.btn {
  font-family: Lato;
  display: flex;
  flex-flow: row;
  justify-content: start;
  gap: 0.3rem;
}

.sidebar {
  width: 300px;
  height: 100vh;
  cursor: pointer;
  margin: 0;
  padding: 1rem;
  padding-top: 4rem;
  background-color: var(--blue--main);
  border-radius: 0 25px 25px 0;
  list-style: none;
}

.sidebar__item:hover {
  transform: scale(1);
  transform: translateX(10px);
}

.sidebar__item a {
  padding: 10px;
  transition: background-color 0.3s ease;
  display: flex;
  transition: transform 0.3s;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  background-color: var(--pastel--blue);
  border-radius: 10px;
  gap: 8px;
  margin-bottom: 0.5rem;
}

.sidebar__item.active a {
  background-color: var(--orange) !important;
}

.sidebar__item img {
  margin-left: 1rem;
  object-fit: cover;
  width: 36px;
  border-radius: 50%;
}

.sidebar__logout .btn {
  border-radius: 30px;
}

label {
  color: var(--dark--blue);
  font-size: 1.375rem;
  font-family: Lato;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@media screen and (max-width: 600px) {
  .sidebar {
    width: auto;
    margin-right: 1rem;
  }

  .sidebar__item {
    width: auto;
    display: flex;
    align-items: center;
  }

  .sidebar__item img {
    margin: 0;
    padding: 0 7px;
  }

  .strong {
    display: none;
  }

  .btn strong {
    display: none;
  }

  .sidebar__item div,
  .sidebar__item strong {
    display: none !important;
  }

  .card-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .card-container__3items {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 840px) {
  .card-container__3items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 890px) {
  .card-container__3items {
    grid-template-columns: repeat(1, 1fr);
  }
}
