<div class="container">

    {{>sidebar_leerling}}

    <div class="main-container dossier">


        <div class="welcome-label">
            <h1>Aankondigingen</h1>
        </div>

        <div class="container-dossier">
    
            <div class="detail-card">
                <div class="detail-card--label">
                    <a href="/details">
                        <h3>Laatste aankondigingen deze maand</h3>
                    </a>
                </div>

             <div class="news-card--information">
                <div>
                    <img src="/images//icons//megaphone.png" alt="megaphone">
                </div>
                <div class="news-card--title">
                     <h4>Les Uitval</h4>
                     <p> De les van aanstaande maandag aanstaande valt uit vanwege ziekte...</p>
                    </div>
               
                <div class="news-card--title">
                     <h4>Geplaatst op:</h4>
                     <p> 12 mei 2023 19:00</p>
                    </div>
            </div>
        </div>
    </div>
</div>