 <div class="container">
   {{>sidebar_begeleider}}
  <div class="main-container">
    <div class="welcome-label">
      <h1>Bekijk de vakken van de leerlingen</h1>
    </div>
    <div class="card-container__3items">
      {{#each courses}}
      <li style="list-style: none;">
        <a href="/vak/{{this.id}}" class="icon-card">
          <div class="icon-card--label">
            <h3>{{this.name}}</h3>
          </div>
          <div class="icon-card--img">
            <img src="/images/icons/nederlands.png" alt="nederlands" />
          </div>
          <div class="icon-card--label">
          </div>
        </a>
      </li>
      {{/each}}
    </div>
  </div>
</div> 