

<div class="container">

   {{>sidebar_leerling}}

<div class="main-container">


  <div class="welcome-label">
      <h1>Bekijk je dossier!</h1>
    </div>

  <div class="card-container__3items">


    <div class="icon-card" >
      <div class="icon-card--label">
         <a href="/vakken"><h3>Rapport</h3></a>
      </div>
      <div class="icon-card--img">
        <img src="/images/icons/rapport.png" alt="nederlands"  />
      </div>
    </div>

   <div class="icon-card" >
      <div class="icon-card--label">
         <a href="/vakken"><h3>Aankondigingen</h3></a>
      </div>
      <div class="icon-card--img">
        <img src="/images/icons/aankondigingen.png" alt="nederlands"  />
      </div>
    </div>

<div class="icon-card" >
      <div class="icon-card--label">
         <a href="/vakken"><h3>Details</h3></a>
      </div>
      <div class="icon-card--img">
        <img src="/images/icons/details.png" alt="nederlands"  />
      </div>
    </div>

  </div>

  </div>

</div>