<div class="container">

   {{>sidebar_leerling}}

<div class="main-container">


  <div class="welcome-label">
      <h1>Bekijk hier u feedback</h1>
    </div>

            <div class="detail-card">
                <div class="detail-card--information">
                    {{#each feedback}}
                   {{this.content}}
                   {{/each}}
                    <div class="detail-card--text">
                        {{!-- <p>{{ meta.firstname }} {{ meta.lastname }} </p> --}}
                    </div>
                </div>
            </div>
  </div>

</div>