

<div class="container">

   {{>sidebar_leerling}}

<div class="main-container">


  <div class="welcome-label">
      <h1>Hey, {{ meta.firstname }} welkom terug!</h1>
    </div>

  <div class="card-container">
              <div class="icon-card--container">
    <a href="/vakken" class="icon-card" >
      <div class="icon-card--label">
         <h3>Vakken</h3>
      </div>
      <div class="icon-card--img">
        <img src="/images/icons/vakken.png" alt="vakken"  />
      </div>
    </a>
    </a>
    <a href="/dossier" class="icon-card">
      <div class="icon-card--label">
        <h3>Dossier</h3>
      </div>
      <div class="icon-card--img">
        <img src="/images/icons/dossier.png" alt="vakken" />
      </div>
    </a>
    </a>


    <a href="/dossier" class="icon-card">
      <div class="icon-card--label">
        <h3>Feedback</h3>
      </div>
      <div class="icon-card--img">
        <img src="/images/icons/feedback.png" alt="vakken" />
      </div>
    </a>
    </a>

    <a href="/afwezigheden" class="icon-card">
      <div class="icon-card--label">
        <h3>Afwezigheden</h3>
      </div>
      <div class="icon-card--img">
        <img src="/images/icons/afwezigheden.png" alt="vakken" />
      </div>
  </a>
  </a>
</div>

  </div>

</div>