<h1>Welkom, {{user.email}}</h1>

U bent
{{#ifEquals user.role.label "Leerling"}}
  een Leerling.
{{/ifEquals}}
{{#ifEquals user.role.label "Lesgever"}}
  een Lesgever.
{{/ifEquals}}
{{#ifEquals user.role.label "Begeleider"}}
  een Begeleider.
{{/ifEquals}}
{{#ifEquals user.role.label "Directie"}}
  een Directie.
{{/ifEquals}}

<div class="container">

  <ul class="sidebar">
    <li class="sidebar__item">
      <img src="/images/icons/dashboard.png" alt="" />
      <stron>Overzicht</stron>
    </li>
    <li class="sidebar__item">
      <img src="/images/icons/book.png" alt="" />
      <stron>Vakken</stron>
    </li>
    <li class="sidebar__item">
      <img src="/images/icons/to-do-list.png" alt="" />
      <stron>Dossier</stron>
    </li>
    <li class="sidebar__item">
      <img src="/images/icons/thumbs-up.png" alt="" />
      <stron>Feedback</stron>
    </li>
    <li class="sidebar__item">
      <img src="/images/icons/calendar.png" alt="" />
      <stron>Afwezigheden</stron>
    </li></ul>

  <div class="card-container">
    <div class="icon-card">
      <div class="icon-card--label">
        <h2>Vakken</h2>
      </div>
      <div class="icon-card--img">
        <img src="/images/icons/vakken.png" alt="vakken" />
      </div>
    </div>

    <div class="icon-card">
      <div class="icon-card--label">
        <h2>Vakken</h2>
      </div>
      <div class="icon-card--img">
        <img src="/images/icons/vakken.png" alt="vakken" />
      </div>
    </div>

    <div class="icon-card">
      <div class="icon-card--label">
        <h2>Vakken</h2>
      </div>
      <div class="icon-card--img">
        <img src="/images/icons/vakken.png" alt="vakken" />
      </div>
    </div>

    <div class="icon-card">
      <div class="icon-card--label">
        <h2>Vakken</h2>
      </div>
      <div class="icon-card--img">
        <img src="/images/icons/vakken.png" alt="vakken" />
      </div>
    </div>
  </div>

</div>