<div class="container">

    {{>sidebar_leerling}}

    <div class="main-container dossier">


        <div class="welcome-label">
            <h1>Bekijk je voortgang van het vak Nederlands Geschiedenis</h1>
        </div>

        <div class="container-dossier">
            <div class="detail-card--subjects">
                <div class="detail-card--information">

                    <div class="detail-card--left">
                        <h3> Nederlands </h3>
                        <img src="/images/icons/cultuur.png" alt="Nederlands schrijven">
                          <h3> Geschiedenis </h3>
                    </div>

                    <div class="detail-card--right">
                        <p>
                            Het begrijpen van de verschillende lidwoorden in het Nederlands is belangrijk voor het vormen van correcte zinnen en het begrijpen van wat er gezegd wordt, aangezien het juiste lidwoord afhankelijk is van het geslacht en de vorm van het zelfstandig naamwoord.
                        </p>
                        <button class="button-base" type="submit">Bekijk jouw resultaten</button>
 
                    </div>

                </div>
            </div>


<div class="detail-card">
    <div class="detail-card--label">
        <a href="/details">
            <h3>Punten overzicht</h3>
        </a>
    </div>

    <div class="subject-card--main">
        <div class="subject-card--toets">
            <h3>Toets </h3>
            <p>Nederlands schrijven </p>
        </div>

          <div class="subject-card--toets">
            <h3>Datum</h3>
                <p>01-06-2023</p>
        </div>

           <div class="subject-card--toets">
            <h3>Punten</h3>
                <p>12/20</p>
        </div>
        
    </div>
</div>

<div class="detail-card">
    <div class="detail-card--label">
        <a href="/details">
            <h3>Gemiddelde & Feedback </h3>
        </a>
    </div>

    <div class="subject-card--main">
        <div class="subject-card--toets">
            <p>Je presteert goed en haalt een gemiddelde score van 7/10, wat betekent dat je begrip van de lesstof over het algemeen solide is. Blijf echter niet tevreden met het gemiddelde - probeer je scores te verhogen door meer te oefenen en je studiegewoonten te verbeteren.</p>
        </div>
    </div>
    
</div>

        
    </div>
</div>