<div class="container">

    {{>sidebar_leerling}}

    <div class="main-container dossier">


        <div class="welcome-label">
            <h1>Uw rapport</h1>
        </div>

        <div class="container-dossier">

                        <div class="detail-card">
                <div class="detail-card--label">
                        <h3>
                        2022-2023 Resultaten Eerste examenperiode
                        Onthaalonderwijs voor anderstalige kinderen
                        (OKAN) - Klasgroep: 1A</h3>
                </div>
              
              <div class="detail-card--info-box">

                <div class="card--title">
                    <div>
                       <h2>Toets</h2> 
                       <p>Nederlands Algemeen</p>
                       <p>Nederlands Schrijven</p>
                       <p>Nederlands Grammatica</p>
                       <p>Nederlandse Gescheidenis</p>
                       <p>Nederlandse Cultuur</p>
                       <p>Rekentaal</p>
                    </div>
                    <div>
                       <h2>Punten</h2> 
                       <p>8/10</p>
                       <p>7/10</p>
                       <p>6/10</p>
                       <p>7/10</p>   
                       <p>7/10</p>
                       <p>6/10</p>
                    </div>
                    <div>
                       <h2>Opmerking</h2> 
                       <p>Creditbewijs</p>
                       <p>Creditbewijs</p>
                       <p>Creditbewijs</p>
                       <p>Creditbewijs</p>
                       <p>Creditbewijs</p>
                       <p>Creditbewijs</p> 
                    </div>
                    </div>
          

                   
                      
                        <div class="card--title--feedback">
                            <h2>Gemiddele & Feedback </h2>
                            <p>
                               Je presteert goed en haalt een gemiddelde score van 7/10, wat betekent dat je begrip van de lesstof over het algemeen solide is. Blijf echter niet tevreden met het gemiddelde - probeer je scores te verhogen door meer te oefenen en je studiegewoonten te verbeteren. 
                            </p>
                        </div>

                </div>
            </div>
        
        
    </div>
</div>