<div class="container">


   {{>sidebar_directeur}}

<div class="main-container">

  <div class="card-container">

{{#each courses}}
  <li class="icon-card">
    <div class="icon-card--label">
      <h2>{{ name }}</h2>
    </div>
    <div class="icon-card--img">
      <img src="/images/icons/vakken.png" alt="vakken" />
    </div>
  </li>
{{/each}}
<form action="/subjects" method="post">
  <input type="text" name="name" placeholder="Vaknaam">
  <input type="submit" value="Vak toevoegen">
</form>
</div>