

<div class="container">

   {{>sidebar_leerling}}

<div class="main-container">


  <div class="welcome-label">
      <h1>Bekijk je vakken!</h1>
    </div>

  <div class="card-container__3items">


    <div class="icon-card" >
      <div class="icon-card--label">
         <a href="/vakken"><h3>Nederlands</h3></a>
      </div>
      <div class="icon-card--img">
        <img src="/images/icons/nederlands.png" alt="nederlands"  />
      </div>
       <div class="icon-card--label">
         <a href="/vakken"><h3>Algemeen</h3></a>
      </div>
    </div>

   <div class="icon-card" >
      <div class="icon-card--label">
         <a href="/vakken"><h3>Nederlands</h3></a>
      </div>
      <div class="icon-card--img">
        <img src="/images/icons/schrijven.png" alt="nederlands"  />
      </div>
       <div class="icon-card--label">
         <a href="/vakken"><h3>Schrijven</h3></a>
      </div>
    </div>

<div class="icon-card" >
      <div class="icon-card--label">
         <a href="/vakken"><h3>Nederlands</h3></a>
      </div>
      <div class="icon-card--img">
        <img src="/images/icons/grammatica.png" alt="nederlands"  />
      </div>
       <div class="icon-card--label">
         <a href="/vakken"><h3>Grammatica</h3></a>
      </div>
    </div>

<div class="icon-card" >
      <div class="icon-card--label">
         <a href="/vakken"><h3>Nederlands</h3></a>
      </div>
      <div class="icon-card--img">
        <img src="/images/icons/geschiedenis.png" alt="nederlands"  />
      </div>
       <div class="icon-card--label">
         <a href="/vakken"><h3>Geschiedenis</h3></a>
      </div>
    </div>

    <div class="icon-card" >
      <div class="icon-card--label">
         <a href="/vakken"><h3>Nederlands</h3></a>
      </div>
      <div class="icon-card--img">
        <img src="/images/icons/cultuur.png" alt="nederlands"  />
      </div>
       <div class="icon-card--label">
         <a href="/vakken"><h3>Cultuur</h3></a>
      </div>
    </div>

    <div class="icon-card" >
      <div class="icon-card--label">
         <a href="/vakken"><h3>Rekentaal</h3></a>
      </div>
      <div class="icon-card--img">
        <img src="/images/icons/rekentaal.png" alt="nederlands"  />
      </div>
       <div class="icon-card--label">
         <a href="/vakken"><h3>Rekentaal</h3></a>
      </div>
    </div>

  </div>

  </div>

</div>