<div class="container">
  {{>sidebar_leerling}}
  <div class="main-container">
    <div class="welcome-label">
      <h1>Bekijk je vakken!</h1>
    </div>
    <div class="card-container__3items">
      <a href="/nederlands-algemeen">
        <div class="icon-card">
          <div class="icon-card--label">
            <h3>Nederlands</h3>
          </div>
          <div class="icon-card--img">
            <img src="/images/icons/nederlands.png" alt="nederlands" />
          </div>
          <div class="icon-card--label">
            <h3>Algemeen</h3>
          </div>
        </div>
      </a>
      <a href="/nederlands-schrijven">
        <div class="icon-card">
          <div class="icon-card--label">
            <h3>Nederlands</h3>
          </div>
          <div class="icon-card--img">
            <img src="/images/icons/schrijven.png" alt="nederlands" />
          </div>
          <div class="icon-card--label">
            <h3>Schrijven</h3>
          </div>
        </div>
      </a>
      <a href="/nederlands-grammatica">
        <div class="icon-card">
          <div class="icon-card--label">
            <h3>Nederlands</h3>
          </div>
          <div class="icon-card--img">
            <img src="/images/icons/grammatica.png" alt="nederlands" />
          </div>
          <div class="icon-card--label">
            <h3>Grammatica</h3>
          </div>
        </div>
      </a>
      <a href="/nederlands-geschiedenis">
        <div class="icon-card">
          <div class="icon-card--label">
            <h3>Nederlands</h3>
          </div>
          <div class="icon-card--img">
            <img src="/images/icons/geschiedenis.png" alt="nederlands" />
          </div>
          <div class="icon-card--label">
            <h3>Geschiedenis</h3>
          </div>
        </div>
      </a>
      <a href="/nederlands-cultuur">
        <div class="icon-card">
          <div class="icon-card--label">
            <h3>Nederlands</h3>
          </div>
          <div class="icon-card--img">
            <img src="/images/icons/cultuur.png" alt="nederlands" />
          </div>
          <div class="icon-card--label">
            <h3>Cultuur</h3>
          </div>
        </div>
      </a>
      <a href="/rekentaal">
        <div class="icon-card">
          <div class="icon-card--label">
            <h3>Rekentaal</h3>
          </div>
          <div class="icon-card--img">
            <img src="/images/icons/rekentaal.png" alt="nederlands" />
          </div>
          <div class="icon-card--label">
            <h3>Rekentaal</h3>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
