<div class="search">
<h2>De gebruikers</h2>
<form action="#" method="post" id="formSearch">
  <label for="searchUser"></label>
  <input id="searchUser" name="searchUser" type="text" placeholder="Search">
  <button type="submit">Search</button>
</form>

<ul id="result" class="search__result"></ul>
</div>


<script>
document.getElementById('formSearch').addEventListener('submit', function(event) {
  event.preventDefault(); // Prevent the form from submitting normally

  const searchValue = document.getElementById('searchUser').value; // Get the search query from the input field

  fetch('/users/firstname/' + (searchValue))
    .then(function(response) {
      if (response.ok) {
        return response.json();
      } else {
        throw new Error('Error: ' + response.status);
      }
    })
    .then(function(data) {

      // console.log(data); 
      renderUsers(data); 
    })
    .catch(function(error) {
      // console.log(error); // Handle any errors
    });
});

async function renderUsers(users) {
  const $result = document.getElementById("result");
  $result.innerHTML = users
    .map((user) => {
      return `
      <li data-username="${user.id}">
        <a class="card" href="/user/${user.id}">
        <img src="${user.meta.avatar}" alt="">
        <h4>${user.meta.firstname} ${user.meta.lastname}</h4>
        <h5>${user.role.label}</h5>
        <h6>${user.classrooms.map(
          (clas) => {
            return `${clas.label} `;
          }
        ).join("")}</h6></a></li>
      `;
    })
    .join("");
}


</script>