<sidebar>
  <ul class="sidebar">
    <li class="sidebar__item">
      <img src="/images/icons/user.png" alt="" />
      <div class="sidebar_personalia">
        <strong>Mila Duterloo</strong>
        <strong>Klas: 1a</strong>
      </div>
    </li>

    <li class="sidebar__item active">
      <img src="/images/icons/dashboard.png" alt="overzicht button" />
      <strong>Overzicht</strong>
    </li>
    <li class="sidebar__item">
      <img src="/images/icons/book.png" alt="" />
      <strong>Vakken</strong>
    </li>
    <li class="sidebar__item">
      <img src="/images/icons/to-do-list.png" alt="" />
      <strong>Dossier</strong>
    </li>
    <li class="sidebar__item">
      <img src="/images/icons/thumbs-up.png" alt="" />
      <strong>Feedback</strong>
    </li>
    <li class="sidebar__item">
      <img src="/images/icons/calendar.png" alt="" />
      <strong>Afwezigheden</strong>
    </li>
    <li>
      <form action="/logout" method="post">
        <button type="submit" class="btn btn-tertiary">Logout</button>
      </form>
    </li>
  </ul>
</sidebar>